body {
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
    background-color: whitesmoke; 
    color: #000;
    align-content: center;
}

header {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
}

p {
    display: block;
    font-family: 'Roboto', sans-serif;;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
}



h1 {
    display: block;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size: 2em;
}

h2 {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.heading {
    text-align: center;
    text-shadow: #943B29 -2px 1px;
    color: #E06E56
}

.container {
    border: 2px solid #943B29;
    padding: 10px;
    margin: 10px auto;
    box-shadow: #315094 -2px 1px;
}

.peach {
    background-color: #E06E56;
    color: #FFF;
}

.brick-red {
    background-color: #943B29;
    color: #fff;
}

.navy-blue {
    background-color: #315094;
    color: #fff;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.font-panel {
    display: inline-block;
    width: 45%;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.crimson {
    font-family: 'Crimson Text', serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.sans-serif {
    font-family: sans-serif;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}